* {
	padding: 0;
	margin: 0;
}

html { 
	background-color: #222; 
	font-family: 'Source Code Pro', 'Monaco', 'Consolas', 'Menlo', monospace;
	/*border: 1px solid white; /* for debugging */*/
}

body {
	padding: 50px 25px;
	background-color: #222;
}
pre {
	margin: 50px;
	padding: 35px;
	background-color: #111;
	border-radius: 10px;
}
code {
	font-family: 'Source Code Pro', 'Monaco', 'Consolas', 'Menlo', monospace;
	font-size: 12px;
	word-wrap: break-word;
	line-height: 2em;
}
.pass { color: #2ECC40; }
.fail { color: #FF4136; }

center {
	position: fixed;
	top: 40px;
	left: 45%;
}
center div {
	color: #DDDDDD;
	letter-spacing: 2px;
	border-radius: 5px;
	padding: 10px;
	background-color: #111;
	cursor: pointer;
}
center div:hover {
	background-color: #000;
	text-decoration: underline;
}